.imagebg{
    background-image: url('https://www.wallpaperbetter.com/wallpaper/480/662/361/spring-pink-cloud-1080P-wallpaper.jpg');
    height: 100vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200% 150%;
}