<app-navbar></app-navbar>
<div class="container pt-4">
    <div class="row pt-4">
      <div class="col-12 d-md-flex justify-content-center  pt-4">
        <p class="display-4  pt-4">Home</p>
      </div>
    </div>
    <hr>
    
    <app-meal-item [meal]="meal"></app-meal-item>
    <!--<button type="button" class="btn btn-dark" (click)="openModal(content)">Platillo del dia</button>-->
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Platillo del dia</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-meal-item [meal]="meal"></app-meal-item>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>